<%= form_for(@funcionalidade) do |f| %>
  <% if @funcionalidade.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= t 'validation_error', error_count: @funcionalidade.errors.count %></b>

      <ul>
      <% @funcionalidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :identificador %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :identificador, size: 50 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :nome %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :nome, size: 50 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :descricao %>
    </div>
    <div class="col-md-8">
      <%= f.text_area :descricao, rows: 4, cols: 49 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= t '.perfis' %>
    </div>
    <div class="col-md-8">
      <% allowed_perfis.each do |perfil| %>
      <div class="row">
        <div class="col-md-8">
          <label>
            <%= check_box_tag "funcionalidade[perfil_ids][]", perfil.id, f.object.perfis.include?(perfil) %>
            <%= perfil.nome %>
          </label>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-9">
      <%= f.submit class: "btn btn-success", role: "button" %>
    </div>
  </div>
<% end %>  