<% if notice %>
<div class="row">
  <div id="success_message" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <b><%= t 'alert.title.success' %></b>

    <p id="notice"><%= notice %></p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-9">
    <h3><%= t '.title' %></h3>
  </div>
</div>

<% unless @funcionalidades.empty? %>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t '.nome' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @funcionalidades.each do |funcionalidade| %>
        <tr>
          <td width="80%"><%= funcionalidade.nome %></td>
          <td><%= link_to t('show'), funcionalidade, class: "btn btn-primary btn-sm", role: "button" %></td>
          <td><%= link_to t('edit'), edit_funcionalidade_path(funcionalidade), class: "btn btn-primary btn-sm", role: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<br>

<div class="row">
  <%= link_to t('new'), new_funcionalidade_path, class: "btn btn-primary", role: "button" %>
</div>