<%= form_for(@projeto) do |f| %>
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :nome %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :nome, size: 50 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :descricao %>
    </div>
    <div class="col-md-8">
      <%= f.text_area :descricao, rows: 4, cols: 49 %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <%= f.label :integracao_continua %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :integracao_continua, size: 50 %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-9">
      <%= f.submit class: "btn btn-success", role: "button" %>
    </div>
  </div>
<% end %>