<div class="row">
  <div class="col-md-9">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <h3><%= t '.title' %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong><%= t '.nome' %>:</strong>
  </div>
  <div class="col-md-8">
    <%= @projeto.nome %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong><%= t '.descricao' %>:</strong>
  </div>
  <div class="col-md-8">
    <%= @projeto.descricao %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong><%= t '.integracao_continua' %>:</strong>
  </div>
  <div class="col-md-8">
    <%= @projeto.integracao_continua %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-8">
    <%= link_to t('edit'), edit_projeto_path(@projeto), class: "btn btn-primary", role: "button" %>
  
    <%= link_to t('back'), projetos_path, class: "btn btn-primary", role: "button" %>
  
    <%= link_to t('destroy'), @projeto, class: "btn btn-danger", role: "button", method: :delete, data: { confirm: t('.confirm_delete', project: @projeto.nome) } %>
  </div>
</div>