<!DOCTYPE html>
<html>
<head>
  <title><%= t 'project_name' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="/"><%= t 'project_name' %></a>
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/"><%= t 'home' %></a></li>
        <li class="nav-item"><a class="nav-link" href="#about"><%= t 'about' %></a></li>
        <li class="nav-item"><a class="nav-link" href="#contact"><%= t 'contact' %></a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <%= yield %>
      </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <%= build_menu_item('menu.vertical.project', projetos_path) %>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Serpro 2016</p>
    </footer>

  </div>

</body>
</html>